/* 样式权限：用户定义的非继承样式 > 元素默认的样式，即浏览器添加的样式 > 用户定义的继承样式 > 元素默认的继承样式，即浏览器添加的继承样式 */
/* 每一级权限里面important的样式权限最高，不论所属选择器权限如何，即使是用户定义的行内样式也不例外 */
* {
    margin: 0;
    padding: 0;
    /* 【VS：AD6N】通配符选择器权限低于状态伪元素选择器 */
    /* outline: none; */
    /* writing-mode: horizontal-tb; */
}

input {
    /* 【VS：I1O5】元素选择器权限低于状态伪元素选择器 */
    /* outline: none; */
    /* 【VS：2EVJ】同一个选择器，书写顺序越后权限越高 */
    font-size: medium;
}
input {
    /* 【VS：2EVJ】同一个选择器，书写顺序越后权限越高 */
    /* 【VS：8XV5】继承的选择器权限最低，甚至低于元素默认样式即用户代理为元素添加的样式，更低于元素选择器 */
    font-size: medium;
}

a {
    text-decoration: none;
}

ul, ol {
    /* 覆盖浏览器添加的应用于li的继承样式 */
    list-style: none;
}

li {
    /* 应用于list-item类型的元素，包括设置了display:list-item的元素
    覆盖从ul或ol继承的值 */
    list-style: none;
}

/* 借助继承性，设置页面字体，除了a标签外 */
body {
    font: normal 14px/25px '微软雅黑';
}

header {}

:focus-visible {
    /* 【VS：AD6N】通配符选择器权限低于状态伪元素选择器 */
    /* 【VS：I1O5】元素选择器权限低于状态伪元素选择器 */
    /* 权限高于浏览器为此选择器添加的样式 */
    outline: none;
    /* 覆盖了浏览器在input:focus-visible选择器中添加的outline-offset样式 */
    outline-offset: 0px;
}

button:active {
    /* 覆盖了浏览器在button:active选择器中添加的border-style样式 */
    border-style: none;
}

input:focus-visible {}

header .header-top {
    width: 1200px;
    margin: 0 auto;
    /* 清除浮动 */
    overflow: hidden;
}

header .header-top .logo {
    float: left;
    padding-top: 39px;
    width: 192px;
    height: 63px;
}

header .header-top .logo h1 {
    width: 192px;
    height: 63px;
    /* background-color: orange; */
    line-height: 63px;
    text-align: center;

    color: #00978E;
    letter-spacing: .4rem;

    font-size: 2rem;

    /* background-image: url(../images/avatar.jpg);

    text-indent: -999rem; */
}

header .header-top .tool {
    float: right;
    width: 266px;
    height: 67px;
    padding-top: 35px;
    /* background-color: green; */
}

header .header-top .tool .r1 {
    /* margin-bottom: 4.5px; */
    display: flex;
    align-items: center;
    margin-bottom: 11px;
}

header .header-top .tool .r1 .tel {
    width: 32px;
    height: 25px;
}

header .header-top .tool .r1 .tel-number {
    display: inline-block;
    width: 158px;
    height: 26px;
    font-size: 20px;
    color: #00978E;
    text-align: center;
}

header .header-top .tool .r1 a {
    /* display: flex;
    align-items: center; */
    width: 24px;
    height: 24px;
}

header .header-top .tool .r1 a .icon {
    width: 24px;
    height: 24px;
}

header .header-top .tool .r1 a:first-of-type {
    margin-right: 10px;
}
header .header-top .tool .r1 a .chinese_icon {
    /* margin-right: 10px; */
}

header .header-top .tool .r2 {
    width: 264px;
    height: 28px;
    border: 1px solid rgba(202, 202, 202, 0.60);
    /* 【VS：8XV5】继承的选择器权限最低，甚至低于元素默认样式即用户代理为元素添加的样式，更低于元素选择器，即使添加important */
    font-size: medium !important;
}

header .header-top .tool .r2 input {
    float: left;
    width: 224px;
    height: 28px;
    padding-left: 20px;
    border: none;
    outline: none;
    font-size: 16px !important;/*最高权限8*/
    /* 在UI设计图里面，这是placeholder的颜色。。。
    color: rgba(202, 202, 202, 0.60); */
}

header .header-top .tool .r2 button {
    float: right;
    width: 20px;
    height: 20px;
    /* 去掉默认背景色buttonface，因为要使用子元素图片替代背景，避免发生效果叠加 */
    /* background-color: none;非法值 */
    /* background-color: initial; */
    background: none;
    /* 覆盖浏览器在button:active选择器中添加的border-style样式 */
    border: none;
    /* 覆盖浏览器和用户在:focus-visible选择器中添加的outline样式 */
    outline: none;
    cursor: pointer;
    /* 垂直居中，但是使用margin不妥，margin多用于与兄弟元素拉开距离，
    并且也不方便设置水平方向的margin大于0，因为可能超出父盒子
    margin: 4px 0; */

    /* 相对定位最合适微调位置，实现垂直居中，和水平方向与父盒子拉开距离 */
    position: relative;
    top: 4px;
    right: 4px;
}

header > .main-nav {
    background-color: #00978E;
    height: 60px;
    margin-top: 30px;
}

header > .main-nav > ul {
    width: 1200px;
    height: 60px;
    margin: 0 auto;
}

header>.main-nav>ul > li {
    float: left;
    width: 150px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #ffff;
}

header>.main-nav>ul>li.current {
    background-color: #015E58;
    
}

header>.main-nav>ul>li>a {
    display: block;
    height: 60px;
    width: 150px;

    font-size: 16px;
    color: #ffff;
}

header>.main-nav>ul>li>a:hover {
    background-color: orange;
}


/* nner 区域 */
.banner {
position: relative;
/* background-color: rgba(255, 0, 0, 0.232); */
}

.banner>.banner-img {
    width: 100%;
}

.banner>.center {
    width: 1200px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -600px;
    margin-top: -150px;
    /* background-color: orange; */
}

.banner>.center>.btn {
    width: 56px;
    height: 64px;
    background-color: rgba(0, 0, 0, 0.074);

        position: absolute;
        top: 50%;
            margin-top: -32px;
}

.banner>.center>.left-btn {

    left: 0;

}

.banner>.center>.right-btn {
    right:0;
}

.banner>.center>h2 {
    position: absolute;
    top: 50%;

    font-size: 60px;
    line-height: 1;
    font-weight: 400;
        color: #015E58;

        margin-top: -100px;

        margin-left: 120px;
}

.banner>ol {
    width: 120px;
    height: 12px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    margin-left: -60px;
}

.banner>ol>li {
    width: 20px;
    height: 12px;
    background-color: #ffff;
    border-radius: 3px;
    margin-right: 10px;

    float: left;
}

.banner>ol>li:last-of-type {
    margin-right: 0;
}

.banner>ol>li.current {
    width: 30px;
    background-color: #00978E;
}

.content>.useful-links {
    width: 906px;
    height: 148px;
    margin: 0 auto;
    /* position: absolute;
    left: 50%;
    margin-left: -453px; */
    /* background-color: orange; */
}

.content>.useful-links>ul>li {
    float: left;
    margin-right: 54px;
    width: 106px;
    height: 148px;
}

.content>.useful-links>ul>li:last-of-type {
    margin-right: 0;
}

.content>.useful-links>ul>li>a {
    display: block;
    color: #999;
}

.content>.useful-links>ul>li>a>span {
    display: block;
    width: 106px;
    text-align: center;
    /* margin-top: 16px; */
}
.content>.useful-links>ul>li>a>img {
    width: 106px;
    height: 106px;
}

.content>.useful-links>ul {
    overflow: hidden;
}

.content {
    padding-top: 20px;
}

.content>.news-and-notice {
    width: 1200px;
    height: 380px;
    margin: 0 auto;
    margin-top: 20px;
    /* background-color: orange; */
}

.content>.news-and-notice>.news {
    float: left;
    height: 380px;
    width: 878px;
    /* background-color: rgba(255, 0, 255, 0.108); */
}

.content>.news-and-notice>.notice {
    float: right;
    height:380px;
    width: 322px;
    /* background-color: rgba(255, 255, 0, 0.166); */
}

.content>.news-and-notice>.news>h3 {
    height: 33px;
    margin-bottom: 10px;
}

.content>.news-and-notice>.news>.news-content>.hot-news {
width: 422px;
height: 328px;
float: left;
position: relative;
}

.content>.news-and-notice>.news>.news-content>.hot-news>a {
    display: block;
}

.content>.news-and-notice>.news>.news-content>.hot-news>a>.info {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #0004;
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
}

.content>.news-and-notice>.news>.news-content>ul {
    width: 400px;
    height: 328px;
    float: left;
}

.content>.news-and-notice>.news>.news-content>ul {
    padding-left: 15px;
}


.content>.news-and-notice>.news>.news-content {
    overflow: hidden;
}

.content>.news-and-notice>.news>.news-content>ul>li {
    line-height: 41px;
}

.content>.news-and-notice>.news>.news-content>ul>li>a {
    float: left;
    color: #999;
}
.content>.news-and-notice>.news>.news-content>ul>li>a.spec {
    color:#00978E;
}
.content>.news-and-notice>.news>.news-content>ul>li>span {
    float: right;
}
.content>.news-and-notice>.news>.news-content>ul>li {
    overflow: hidden;
}

.content>.news-and-notice>.notice>h3 {
    height: 33px;
    margin-bottom: 10px;
}

.content>.news-and-notice>.notice>ol>li {
    padding-left: 70px;
    margin-bottom: 14px;
    position: relative;
}

.content>.news-and-notice>.notice>ol>li>div.number {
    width: 53px;
    height: 57px;
    line-height: 57px;
    font-size: 24px;
    color: #ffff;
    text-align: center;
    background-color: #00978E;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -28px;
}

.content>.news-and-notice>.notice>ol>li dd>a {
    color: #999;
}

.content>.news-and-notice>.notice>ol>li dt>a {
    color: #666;
}

.content>.news-and-notice>.notice>ol>li a {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.content>.ad-images {
    width: 1200px;
    margin: 20px auto;
}

.content>.dep-info {
    height: 400px;
    background-color: #fafafa;
}

.content>.dep-info>.center {
    width: 1200px;
    margin: 0 auto;
    padding-top: 20px;

    position: relative;
}

.content>.dep-info>.center>.more {
    position: absolute;
    top: 20px;
    right: 0;
    color: #666;
}

.content>.dep-info>.center>.dep-content {
    overflow: hidden;
}
.content>.dep-info>.center>.dep-content>.col {
    float: left;
    width: 300px;
    padding-top: 20px;
}
.content>.dep-info>.center>.dep-content>.col>h4 {
    text-align: center;
    margin-bottom: 14px;
    position: relative;
}

.content>.dep-info>.center>.dep-content>.col>ul {
    overflow: hidden;
    width: 256px;
    margin: 0 auto;
}
.content>.dep-info>.center>.dep-content>.col>ul>li {
    float: left;
    width: 120px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 12px;
    line-height: 35px;
    text-align: center;
}

.content>.dep-info>.center>.dep-content>.col>ul>li:nth-of-type(2n + 1) {
    margin-right: 12px;
}

.content>.dep-info>.center>.dep-content>.col>ul>li>a {
    color: #333;
}
.content>.dep-info>.center>.dep-content>.col>ul>li.spec>a {
    color: #00978E;
    font-weight: 700;
}

.content>.dep-info>.center>.dep-content>.col>h4::after {
    content: '';
    display: block;
    height: 2px;
    width: 80px;
    left: 15%;
    position: absolute;
    background-color: #00978E;
    top: 50%;
}
.content>.dep-info>.center>.dep-content>.col>h4::before {
    content: '';
    display: block;
    height: 2px;
    width: 80px;
    right: 15%;
    position: absolute;
    background-color: #00978E;
    top: 50%;
}